.main {
    /*width: 1120px;*/
    /*margin: 0 auto;*/
}

.header {
    height: 80px;
    background: #f5f6f7;
    overflow: hidden;
}

.header-main {
    width: 1120px;
    margin: 0 auto;
    overflow: hidden;
}

.header .logo {
    margin-top: 22px;
}

.header-right ul {
    margin: 0;
    overflow: hidden;
}

.header-right ul li {
    float: left;
    position: relative;
}

.header-right ul li a {
    margin-left: 60px;
    font: 18px '寰蒋闆呴粦';
    color: #969799;
    line-height: 80px;
}

.header-right ul li a:hover {
    color: #4b4c4d;
    text-decoration: none;
}

.header-right ul li > img {
    display: none;
    position: absolute;
    bottom: 14px;
    right: 21px;
}

.header .one {
    display: none;
    position: absolute;
    bottom: 14px;
    right: 3px;
}

.header-right .active {
    display: inline-block;
    color: #4b4c4d;
}

.hotInfo {
    overflow: hidden;
}

.sblie {
    margin-top: 20px;
}

.exampleN {
    margin-left: 40px;
}

.hot-titile {
    font: 14px '寰蒋闆呴粦';
    color: #969799;
}

.hot-titile span {
    margin-left: 7px;
}
.hot-titile span:hover{
    cursor: pointer;
}
/*鏃堕棿杞�*/
.times {
    display: block;
    margin: 15px 0;
}

/*棣栧厛锛屾垜浠鍒涘缓涓�涓鍣╟lass*/
.times ul {
    /*margin-left: 25px;*/
    border-left: 2px solid #ddd;
}

/*鍒╃敤ul鏍囩鐨勭壒鎬э紝璁剧疆澶栬竟妗嗗乏绉�25px锛屽乏杈硅竟妗嗘槸2px绮楃殑瀹炲績绾匡紝棰滆壊涓�鑸娴呬竴鐐�*/
.times ul li {
    width: 341px;
    margin-left: -51px;
    margin-bottom: 25px;
    line-height: 1.8;
    font-weight: narmal;
}

/*涓�鑸儏鍐碉紝閫氳繃li鏍囩鎺у埗鍦嗙偣鍥炲埌鏃堕棿绾夸笂锛岀劧鍚庢帶鍒惰鍑虹幇鐨勬枃瀛楀ぇ灏忓拰鏄惁绮椾綋*/
.times ul li b {
    width: 8px;
    height: 8px;
    background: #fff;
    border: 1px solid #e9eced;
    margin: 5px;
    margin-top: 11px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    overflow: hidden;
    display: inline-block;
    float: left;
}

/*鍒╃敤澶勭悊鍔犵矖浠ュ娌℃湁鍏跺畠鐗瑰埆灞炴�鏍囩鍋氭椂闂磋酱鐨勫渾鐐广��*/
.times ul li span {
    padding-left: 7px;
    font-size: 12px;
    line-height: 20px;
    color: #555;
}

/*璁剧疆span鏍囩鐨勫睘鎬э紝璁╁畠鏉ュ仛鏃堕棿鏄剧ず锛屽姞涓�鐐硅竟璺濓紝浣挎椂闂存樉绀虹鏃堕棿绾胯繙涓�鐐�*/
.times ul li:hover b {
    border: 2px solid #ff6600;
}

/*娉ㄦ剰杩欎竴琛岋紝鍓嶉潰鐨刲i鏍囩鍚庨潰鍔犱簡涓�涓�:hover浼睘鎬э紝鎰忔�濇槸榧犳爣绉讳笂鏉ワ紝婵�娲诲悗闈㈢殑灞炴�э紝杩欐牱鍙互璁剧疆榧犳爣绉诲姩鍒版暣涓椂闂磋寖鍥寸殑鏃跺�欙紝鏃堕棿鐐瑰拰鏃堕棿鏄剧ず浼氬彉鑹�*/
.times ul li:hover span {
    color: #ff6600;
}

/*鍚屼笂*/
.exampleN .times ul li p {
    padding-left: 15px;
    font-size: 18px;
    color: #4b4c4d;
    margin-left: 10px;
    /*line-height: 1.5;*/
}

/*杩欓噷鍒╃敤娈佃惤鏍囩p鍋氭枃瀛椾粙缁�*/
/*璇佸埜瑕侀椈*/
.three{
    overflow: hidden;
}
.three-wi{
    width: 347px;
    min-height: 570px;
}
.three-with{
    margin-left: 39px;
}
.hot-titile .ti{
    font-size: 16px;
    color: #4b4c4d;
    font-weight: 700;
}
.hot-titile>a{
    font-size: 14px;
    float: right;
    margin-top: 3px;
    color: #969799;
}
.pad{
    padding-bottom: 13px;
    border-bottom: 1px solid #d4d7d9;
}
.three-img{
    margin-top: 10px;
    overflow: hidden;
}
.three-img>a>img,.list img{
    width: 110px;
    height: 74px;
}
.img-wi{
    margin-left: 8px;
}
.three-title{
    font: 18px/1.7 '寰蒋闆呴粦';
    margin-top: 5px;
    color: #4b4c4d;
}
.see-tu{
    margin-left: 3px;
    font-size: 12px;
    color: #c8c9cc;
}
.header-main .three-wi ul{
    padding: 0;
    margin: 0;
}
.lists-title{
    margin-left: 20px;
}
.lists .img>img{
    width: 120px;
    height: 82px;
}
.lists li{
    margin-bottom: 5px;
}
.header-main .three-one .lists,
.header-main .three-two .lists,
.header-main .three-three .lists{
    margin-top: 10px;
}
.lists-title-ti{
    width: 192px;
    /*font-family: "寰蒋闆呴粦";*/
    font-size: 16px;
    line-height: 1.8;
    color: #969798;
}
/*浜у搧*/
.product{
    margin-top: 20px;
    margin-bottom: 45px;
}
.pro-top{
    margin-top: 20px;
}
.pro-list{
    float: left;
    margin-left: 30px;
    width: 200px;
}
.pro-list img{
    width: 200px;
    height: 137px;
    box-shadow: 0px 4px 8px 0px
    rgba(0, 0, 0, 0.3);
    border-radius: 4px 4px 4px 4px;
}
.pro-list:first-child{
    margin-left: 0;
}
.pro-title{
    margin-top: 18px;
    font: 18px '寰蒋闆呴粦';
    font-weight: 700;
color: #4b4c4d;
    text-align: center;
}
.p-de{
    margin-top: 5px;
    font: 14px/1.6 '寰蒋闆呴粦';
    color: #969799;
}

/*椤佃剼*/
footer{
    width: 100%;
    height: 80px;
    background: #3d454d;
}
footer p{
    font: 14px/80px '寰蒋闆呴粦';
    text-align: center;
    color: #ffffff;
}
/*璇佸埜瑕侀椈椤甸潰*/
.list-img{
    width: 160px;
    height: 110px;
    margin-right: 18px;
}
.new-list{
    margin: 20px 0;
}
.new-list .list-title .list-title-t{
    font-size: 16px;
    color: #4b4c4d;
    margin-bottom: 12px;
}
.new-see-list{
    margin-top: 14px;
}
.new-list .list-title .list-title-p{
    font: 14px/1.9 '寰蒋闆呴粦';
    color: #969799;
    text-indent: 0;
}
.new-lists a{
    text-decoration: none;
}
.left .hot-titile img{
    margin-top: -3px;
}
/*璇佸埜瑕侀椈璇︽儏椤甸潰*/
.main-new{
    margin-top: 34px;
    margin-bottom: 48px;
}
.main-new-list{
    margin-top: 34px;
}
.main-new .exampleN{
    margin: 0;
}
.new-left{
    padding-bottom: 12px;
    border-bottom: 1px solid #d4d7d9;
}
.new-left span{
    font-size: 16px;
    color: #969799;
    font-weight: 700;
}
.left{
    width: 732px;
    min-height: 400px;
    margin-right: 45px;
}
.left h2{
    margin: 20px 0;
}
.new-see{
    margin-bottom: 20px;
}
.new-see span{
    font-size: 14px;
    color: #c8c9cc;
}
.header-main .left p{
    font: 16px/30px '寰蒋闆呴粦';
    color: #4b4b4d;
    text-indent:23px;
}
.header-main .left p img{
    width: 100%;
    margin: 12px 0;
}
.right{
    width: 341px;
    min-height: 400px;
}
/*鍒嗛〉鏍峰紡*/
.pagination>li>a, .pagination>li>span{
    margin-left: 8px;
}
/*
浜у搧鐞嗚储*/
.pros-list{
    float: left;
    width: 224px;
    margin-top: 18px;
    /*ma*/
}
.pros-lists .pros-list img{
    width: 224px;
    height: 148px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px 4px 4px 4px;
}
.pros-lists .pros-list>div{
    font-size: 18px;
    color: #4b4c4d;
    font-weight: 700;
    margin: 14px 0 10px 0;
    text-align: center;
}
.pros-lists .pros-list>p{
    font-size: 14px;
    line-height: 1.6;
    color: #969799;
}
.pros-ji{
    margin-left: 30px;
    margin-right: 30px;
}
/*浜у搧璇︽儏*/
.pro-titles{
    margin: 38px 0 36px 0;
    font-size: 24px;
    font-weight: 700;
    color: #4b4c4d;
}
.con{
    min-width: 20px;
    font-size: 16px;
    color: #4b4b4d;
    font-weight: 700;
}
.content{
    width: 636px;
    font: 16px/2 '寰蒋闆呴粦';
    color: #4b4b4d;
    margin-left: 12px;
    margin-top: -5px;
}
.content span{
    display: block;
    margin-bottom: 30px;
}
.pro{
    margin-bottom: 30px;
}
.pro-l{
    margin-bottom: 40px;
}