<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:tiles="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head lang="en">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		<title>168后台管理系统</title>
		<link href="css/index.css" rel="stylesheet" type="text/css" />
		<!-- <link rel="stylesheet" type="text/css" href="css/information.css" />
		<link rel="stylesheet" type="text/css" href="css/business_center.css" /> -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/popup.js"></script>
		<script type="text/javascript" src="js/util/jquery-ajax-pager.js"></script>
		<script type="text/javascript" src="js/util/js-extend.js"></script>
		<script type="text/javascript" src="js/user/userManage.js"></script>
	</head>
	<body>
		<div class="tab_lists">
			<div class="tab_names">
				<a class="tabs">角色管理</a>
			</div>
			<div class="content_detail goods_lists">
				<div class="goods_search vip_sets">
					<a class="role_add"><img src="images/add_ico.png" />新增</a>
				</div>
				<!-- table lists -->
				<form action="post">
					<table class="goods_table">
						<thead>
							<tr>
								<td class="role_name_td">角色名称</td><td>说明</td><td  class="role_ope_td">操作</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>超级管理员</td><td>可对所有商品，商户，对账，运营及测试进行操作。</td><td><a href="#" class="modify">修改</a><a href="#" class="on_delete">删除</a></td>
							</tr>
							<tr>
								<td>商户管理员</td><td>可对商户进行增加，修改，删除等操作。</td><td><a href="#" class="modify">修改</a><a href="#" class="on_delete">删除</a></td>
							</tr>
							<tr>
								<td>商品管理员</td><td>可对商品进行增加，修改，删除等操作。</td><td><a href="#" class="modify">修改</a><a href="#" class="on_delete">删除</a></td>
							</tr>
							<tr>
								<td>对账管理员</td><td>可对对账进行增加，修改，删除等操作。</td><td><a href="#" class="modify">修改</a><a href="#" class="on_delete">删除</a></td>
							</tr>
							<tr>
								<td>运营管理员</td><td>可对运营进行增加，修改，删除等操作。</td><td><a href="#" class="modify">修改</a><a href="#" class="on_delete">删除</a></td>
							</tr>
							<tr>
								<td>测试管理员</td><td>可对测试进行增加，修改，删除等操作。</td><td><a href="#" class="modify">修改</a><a href="#" class="on_delete">删除</a></td>
							</tr>
						</tbody>
					</table>
					<div   id="pager">
                      
                    </div>
				</form>
			</div>
		</div>
		<!-- 添加角色 -->
		<div class="add_role">
			<div class="row_title">
				<img class="alert_circle" src="images/alert_circle.png" />新增角色<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn"><img class="alert_line" src="images/alert_line.png" alt="" />×</a>
			</div>
			<div class="row">
				<span class="sort_name">角色名称：</span>
				<select class="customs_addr">
					<option>超级管理员</option>
					<option>普通管理员</option>
					<option>商户管理岗</option>
					<option>商品管理岗</option>
					<option>对账管理岗</option>
					<option>运营管理岗</option>
					<option>测试管理岗</option>
				</select>
			</div>
			<div class="role_row">
				<span class="sort_name">说明：</span>
				<textarea class="role_txt" placeholder="请对此角色权限进行描述说明"></textarea>
			</div>
			<div class="role_row">
				<span class="sort_name">权限：</span>
				<div class="role_box">
					<div>
						<p>
							<input class="role_goods" type="checkbox" /><span class="role_span">信息管理</span>
						</p>
						<p>
							<input class="sub_role_goods" type="checkbox" /><span class="sub_role_span">发布商品</span>
							<input class="sub_role_goods" type="checkbox" /><span class="sub_role_span">商品列表</span>
							<input class="sub_role_goods" type="checkbox" /><span class="sub_role_span">周边服务</span>
						</p>
					</div>
					<div>
						<p>
							<input class="role_goods" type="checkbox" /><span class="role_span">交易管理</span>
						</p>
						<p>
							<input class="sub_role_goods" type="checkbox" /><span class="sub_role_span">我的订单</span>
							<input class="sub_role_goods" type="checkbox" /><span class="sub_role_span">财务管理</span>
						</p>
					</div>
					<div>
						<p>
							<input class="role_goods" type="checkbox" /><span class="role_span">发货管理</span>
						</p>
						<p>
							<input class="sub_role_goods" type="checkbox" /><span class="sub_role_span">发货订单</span>
						</p>
					</div>
					<div>
						<p>
							<input class="role_goods" type="checkbox" /><span class="role_span">信息管理</span>
						</p>
						<p class="sub_role_p">
							<input class="sub_role_goods" type="checkbox" /><span class="sub_role_span">店铺信息</span>
							<input class="sub_role_goods" type="checkbox" /><span class="sub_role_span">评论管理</span>
							<input class="sub_role_goods" type="checkbox" /><span class="sub_role_span">角色管理</span>
						</p>
						<p class="sub_role_p">
							<input class="sub_role_goods" type="checkbox" /><span class="sub_role_span">用户管理</span>
							<input class="sub_role_goods" type="checkbox" /><span class="sub_role_span">系统消息</span>
						</p>
					</div>
				</div>
			</div>
			<div class="sort_btn">
				<a class="close_btn concle">取消</a><a id="submit">保存</a>
			</div>
		</div>
		<!-- 修改角色 -->
		<div class="modify_role">
			<div class="row_title">
				<img class="alert_circle" src="images/alert_circle.png" />修改角色<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn"><img class="alert_line" src="images/alert_line.png" alt="" />×</a>
			</div>
			<div class="row">
				<span class="sort_name">角色名称：</span>
				<select class="customs_addr">
					<option>超级管理员</option>
					<option>普通管理员</option>
					<option>商户管理岗</option>
					<option>商品管理岗</option>
					<option>对账管理岗</option>
					<option>运营管理岗</option>
					<option>测试管理岗</option>
				</select>
			</div>
			<div class="role_row">
				<span class="sort_name">说明：</span>
				<textarea class="role_txt">可对所有商品，商户，对账，运营及测试进行操作。</textarea>
			</div>
			<div class="role_row">
				<span class="sort_name">权限：</span>
				<div class="role_box">
					<div>
						<p>
							<input class="role_goods" type="checkbox" checked="checked" /><span class="role_span">商品管理</span>
						</p>
						<p>
							<input class="sub_role_goods" type="checkbox" checked="checked" /><span class="sub_role_span">发布商品</span>
							<input class="sub_role_goods" type="checkbox" checked="checked" /><span class="sub_role_span">商品列表</span>
							<input class="sub_role_goods" type="checkbox" checked="checked" /><span class="sub_role_span">周边服务</span>
						</p>
					</div>
					<div>
						<p>
							<input class="role_goods" type="checkbox" checked="checked" /><span class="role_span">交易管理</span>
						</p>
						<p>
							<input class="sub_role_goods" type="checkbox" checked="checked" /><span class="sub_role_span">我的订单</span>
							<input class="sub_role_goods" type="checkbox" checked="checked" /><span class="sub_role_span">财务管理</span>
						</p>
					</div>
					<div>
						<p>
							<input class="role_goods" type="checkbox" checked="checked" /><span class="role_span">发货管理</span>
						</p>
						<p>
							<input class="sub_role_goods" type="checkbox" checked="checked" /><span class="sub_role_span">发货订单</span>
						</p>
					</div>
					<div>
						<p>
							<input class="role_goods" type="checkbox" checked="checked" /><span class="role_span">信息管理</span>
						</p>
						<p class="sub_role_p">
							<input class="sub_role_goods" type="checkbox" checked="checked" /><span class="sub_role_span">店铺信息</span>
							<input class="sub_role_goods" type="checkbox" checked="checked" /><span class="sub_role_span">评论管理</span>
							<input class="sub_role_goods" type="checkbox" checked="checked" /><span class="sub_role_span">角色管理</span>
						</p>
						<p class="sub_role_p">
							<input class="sub_role_goods" type="checkbox" checked="checked" /><span class="sub_role_span">用户管理</span>
							<input class="sub_role_goods" type="checkbox" checked="checked" /><span class="sub_role_span">系统消息</span>
						</p>
					</div>
				</div>
			</div>
			<div class="sort_btn">
				<a class="close_btn concle">取消</a><a id="submit">保存</a>
			</div>
		</div>
		<!-- 删除角色提示 -->
		<div class="deleted_tipsBox">
			<div class="row_title">
				<img class="alert_circle" src="images/alert_circle.png" />提示信息<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn"><img class="alert_line" src="images/alert_line.png" alt="" />×</a>
			</div>
			<div class="confirm_del">
				确定删除此管理角色吗？
			</div>
			<div class="sort_btn">
				<a class="close_btn concle">取消</a><a id="submit">确定</a>
			</div>
		</div>
		<script type="text/javascript">
			$(function(){
				/* $(".page_num:first").css({"color":"#da251c","border":"1px solid #da251c"});
				$(".page_num").click(function(){
					$(this).siblings("a").css({"color":"#666","border":"1px solid #ddd"});
					$(this).css({"color":"#da251c","border":"1px solid #da251c"});
				}); */
				//全选/全不选
	           	$("#checkAll").click(function() {
	                $('input[name="checked_box"]').attr("checked",this.checked); 
	            });
	            var subBox = $("input[name='checked_box']");
	            subBox.click(function(){
	                $("#checkAll").attr("checked",subBox.length == $("input[name='checked_box']:checked").length ? true : false);
	            });
			});
		</script>
		
	</body>
</html>