<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:tiles="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head lang="en">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		<title>168后台管理系统</title>
		<link href="css/index.css" rel="stylesheet" type="text/css" />
<!-- 		<link rel="stylesheet" type="text/css" href="css/information.css" />
 -->		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/popup.js"></script>
		<script type="text/javascript" src="js/util/jquery-ajax-pager.js"></script>
		<script type="text/javascript" src="js/util/js-extend.js"></script>
		<script type="text/javascript" src="js/user/userManage.js"></script>
		
	</head>
	<body>
		<div class="tab_lists">
			<div class="tab_names">
				<a class="tabs">客户管理</a>
			</div>
			<div class="content_detail goods_lists">
				<div class="goods_search vip_sets">
					<span class="service_info"></span>
					<a class="add user_add"><img src="images/add_ico.png" />新增</a>
					<a class="delete"><img src="images/delete_ico.png" />禁用</a>
				</div>
				<!-- Goods table lists -->
				<form action="post">
					<table class="goods_table">
						<thead>
							<tr>
								<td><input type="checkbox" name="checked_box" id="checkAll" />全选</td><td>用户名</td><td>用户角色</td><td>真实姓名</td><td>手机号</td>
								<td>操作</td>
							</tr>
						</thead>
						<tbody    id="user_data">
							
						</tbody>
					</table>
					<div   id="pager">
                      
                    </div>
					
				
				</form>
			</div>
		</div>
		<!-- 添加用户 -->
		<div id="add_sorts" class="add_user">
			<div class="row_title">
				<img class="alert_circle" src="images/alert_circle.png" />新增客户<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn"><img class="alert_line" src="images/alert_line.png" alt="" />×</a>
			</div>
			<div class="row">
				<span class="sort_name">用户角色：</span>
				<select class="customs_addr">
					<option>普通用户</option>
					<option>vip用户</option>
				</select>
			</div>
			<div class="row">
				<span class="sort_name">用户名：</span>
				<input type="text" class="customs_input" id="add_user_name" placeholder="请输入用户名" />
			</div>
			<div class="row">
				<span class="sort_name">真实姓名：</span>
				<input type="text" class="customs_input" id="add_user_realName" placeholder="请输入真实姓名" />
			</div>
			<div class="row">
				<span class="sort_name">移动电话：</span>
				<input type="text" class="customs_input" id="add_user_tel" placeholder="请输入电话号码" />
			</div>
			
			<div class="row">
				<span class="sort_name">密码：</span>
				<input type="password" class="customs_input" id="add_user_pwd" placeholder="请输入密码" />
			</div>
			
			
			<div class="sort_btn">
				<a class="close_btn concle">取消</a><a id="submit"  class="submit_add_user">保存</a>
			</div>
		</div>
		
		
		
		
		<!-- 修改用户 -->
		<div class="modify_user">
			<div class="row_title">
				<img class="alert_circle" src="images/alert_circle.png" />修改用户<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn"><img class="alert_line" src="images/alert_line.png" alt="" />×</a>
			</div>
			<div class="row">
				<span class="sort_name">角色：</span>
				<select class="customs_addr">
					<option>管理员</option>
					<option checked="checked">商户管理岗</option>
					<option>对账管理岗</option>
					<option>运营管理岗</option>
					<option>测试管理岗</option>
				</select>
			</div>
			<div class="row">
				<span class="sort_name">用户名：</span>
				<input type="text" class="customs_input" value="悟空" />
			</div>
			<div class="row">
				<span class="sort_name">真实姓名：</span>
				<input type="text" class="customs_input" value="行者" />
			</div>
			<div class="row">
				<span class="sort_name">移动电话：</span>
				<input type="text" class="customs_input" value="18000668668" />
			</div>
			<div class="row">
				<span class="sort_name">性别：</span>
				<input type="radio" name="sex" value="0" checked="checked" />男&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="sex" value="1" />女
			</div>
			<div class="row">
				<span class="sort_name">密码：</span>
				<input type="password" class="customs_input" value="123456" />
			</div>
			<div class="row">
				<span class="sort_name">确认密码：</span>
				<input type="password" class="customs_input" placeholder="请输入确认密码" />
			</div>
			<div class="sort_btn">
				<a class="close_btn concle">取消</a><a id="submit">保存</a>
			</div>
		</div>
		<!-- 删除用户提示 -->
		<div class="deleted_tipsBox">
			<div class="row_title">
				<img class="alert_circle" src="images/alert_circle.png" />提示信息<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn"><img class="alert_line" src="images/alert_line.png" alt="" />×</a>
			</div>
			<div class="confirm_del">
				确定删除此用户吗？
			</div>
			<div class="sort_btn">
				<a class="close_btn concle">取消</a><a id="submit">确定</a>
			</div>
		</div>
		<!-- 重置密码提示 -->
		<div class="resetPwd_tipsBox">
			<div class="row_title">
				<img class="alert_circle" src="images/alert_circle.png" />重置密码<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn"><img class="alert_line" src="images/alert_line.png" alt="" />×</a>
			</div>
			<div class="setPwd">
				<span class="setPwd_span">新密码：</span>
				<input type="password" class="setPwd_input" />
			</div>
			<div class="setPwd">
				<span class="setPwd_span">确认密码：</span>
				<input type="password" class="setPwd_input" />
			</div>
			<div class="sort_btn">
				<a class="close_btn concle">取消</a><a id="submit">确定</a>
			</div>
		</div>
		<script type="text/javascript">
			$(function(){
				
				//全选/全不选
	           		$("#checkAll").click(function() {
	                		$('input[name="checked_box"]').attr("checked",this.checked); 
	            		});
	            		var subBox = $("input[name='checked_box']");
	            		subBox.click(function(){
	                		$("#checkAll").attr("checked",subBox.length == $("input[name='checked_box']:checked").length ? true : false);
	            		});
			});
		</script>
		
	</body>
</html>