<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:tiles="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head lang="en">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>A股分析</title>
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/luara.left.css">
    <script id="jquery_182" type="text/javascript" class="library" src="/js/jquery-1.8.2.min.js"></script>
    <script id="jquery_183" type="text/javascript" class="library" src="/js/jquery.luara.0.0.1.min.js"></script>
    <script type="text/javascript" src="/js/test.js"></script>
    <script type="text/javascript" src="/js/web/publicSta.js"></script>
    <script  type="text/javascript"  src="/js/web/analysisD.js"></script>
</head>
<body>
<!--证券要闻-->
<div class="main">
    <!--头-->
    <div class="header">
        <div class="header-main">
            <div class="logo fl">
                <a href="/web/index">
                    <img src="/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="header-right fr">
                <ul>
                    <li><a href="/web/index">首页</a>
                     <li><a href="/safe/zqyw/list">证券要闻</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/safe/agfx/list" class="active">A股分析</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/safe/hgcl/list">黑马池</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/safe/cplc/list">产品理财</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/login">登录系统</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-main main-new">
        <div class="left fl">
            <div class="hot-titile new-left">
                <img src="/images/icon_mark.png" alt="">
                <span>赢+资讯 > A股分析</span>
            </div>
            <h2 th:text="${data.title}"></h2>
            <div class="see new-see">
                <img src="/images/icon_view.png" alt="">
                <span class="see-tu" th:text="${data.viewTimes}" > </span>
                <span class="see-tu" th:text="${data.createTime}" > </span>
            </div>
            <p th:utext="${data.context}"></p>
        </div>
        <div class="right fl">
            <div class="exampleN">
                <div class="hot-titile">
                    <img src="/images/icon_mark.png" alt="">
                    <span>热点资讯</span>
                </div>
                <div class="times">
                    <ul id="hot_news_ul">
                        <li><b></b><p>热点新闻的标题热点新闻的标题热点新闻
                            的标题热点新闻的标题</p></li>
                        <!--b标签不输入内容，span标签内输入时间不限制格式，p标签内输入介绍内容。注意，标签内不能使用div分割-->
                        <li><b></b><p>热点新闻的标题热点新闻的标题热点新闻
                            的标题热点新闻的标题</p></li>
                        <li><b></b><p>热点新闻的标题热点新闻的标题热点新闻
                            的标题热点新闻的标题</p></li>
                        <li><b></b><p>热点新闻的标题热点新闻的标题热点新闻
                            的标题热点新闻的标题</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2016-2018 赢+资讯</p>
    </footer>
</div>
</body>
</html>