<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>168信息网</title>
<link rel="stylesheet" href="/css/login.css">
<script id="jquery_182" type="text/javascript" class="library"
	src="/js/jquery-1.8.2.min.js"></script>

</head>

<body>
	<form th:action="@{/login}" method="post">
		<div>
			<div class="header">
				<div class="leftheader">
					<img class="logo" src="/images/logo.png"> <img
						class="fengexian" src="/images/fengexian.png"> <span>用户中心</span>
				</div>
				<div class="rightheader">
					<img src="/images/back.png"> <span><a
						href="/web/index">回到首页</a></span>
					<!-- <img src="/images/zhuce.png">
            <span>注册</span> -->
				</div>
			</div>
		</div>
		<div class="main">
			<div class="content">
				<img src="/images/banner.png">

				<div class="login">
					<input id="loginName" type="text" name="username" placeholder="手机号">
					<input id="loginName" type="password" name="password"
						placeholder="密码"> <span> <input id="logon"
						type="submit" value="登录" /></span>

					<!--  <a href="#" class="leftlink">忘记密码</a>
            <a href="#" class="rightlink">免费注册</a> -->
				</div>

			</div>
		</div>
		<div>
			<div class="nav">
				<div class="more">
					<img src="/images/more.png"> <a>了解更多</a>
				</div>
				<div class="quanyi">
					<img src="/images/quanyi.png"> <a>会员权益</a>
				</div>
				<div class="fukuan">
					<img src="/images/fukuan.png"> <a>付款方式</a>
				</div>
			</div>
		</div>
		<div>
			<div class="footer">
				<div class="footerbox">
					<img src="/images/weibo.png"> <span>新浪微博</span> <img
						src="/images/qq.png"> <span>腾讯QQ</span> <img
						src="/images/weixin.png"> <span>微信</span> <img
						src="/images/dianhua.png"> <span>客服热线:0086-517-87902286</span>
				</div>
			</div>
			<div class="bottom">
				<div>
					<a href="#">业界资讯</a>&nbsp;&nbsp; <a href="#">客户中心</a>&nbsp;&nbsp; <a
						href="#">法律声明</a>&nbsp;&nbsp; <a href="#">联系我们</a>
				</div>
				<p>成都168信息咨询有限公司&nbsp;&nbsp;&nbsp;&nbsp;蜀ICP备15019416号-1&nbsp;|&nbsp;Copyright2015
					byXIAOWANGDALAI All Right Reserved</p>

			</div>
		</div>
	</form>
</body>
</html>

