<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:tiles="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head lang="en">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!-- 		<meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/> -->
    <title>证券要闻</title>
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/luara.left.css">
    <link rel="stylesheet" href="/js/bootstrap.min.css">
    <link rel="stylesheet" href="/js/myPage.css">
    <link rel="stylesheet" href="/css/public.css">
    <script id="jquery_182" type="text/javascript" class="library" src="/js/jquery-1.8.2.min.js"></script>
    <script id="jquery_183" type="text/javascript" class="library" src="/js/jquery.luara.0.0.1.min.js"></script>
    <script id="jquery_183" type="text/javascript" class="library" src="/js/jqPaginator.min.js"></script>
    <script id="jquery_183" type="text/javascript" class="library" src="/js/myPage.js"></script>
    <script type="text/javascript" src="/js/web/publicSta.js"></script>
    <script  type="text/javascript"  src="/js/web/newslist.js"></script>
  
 
</head>
<body>
<!--证券要闻-->
<div class="main">
    <!--头-->
    <div class="header">
        <div class="header-main">
            <div class="logo fl">
                <a href="/web/index">
                    <img src="/images/logo.png" alt="logo"/>
                </a>
            </div>
            <div class="header-right fr">
                <ul>
                 
                    
                    
                     <li><a href="/web/index">首页</a>
                     <li><a href="/safe/zqyw/list" class="active">证券要闻</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/safe/agfx/list" >A股分析</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/safe/mscp/list">名师操盘</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/safe/hgcl/list">黑马池</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/safe/cplc/list">产品理财</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/login">登录系统</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-main main-new-list">
        <div class="left fl">
            <div class="hot-titile new-left">
                <img src="/images/icon_mark.png" alt=""/>
                <span>赢+咨询 > 证券要闻</span>
            </div>
            <div class="new-lists" id="news_lists">
                <a href="news.html">
                    <div class="new-list">
                    <div class="fl">
                        <img class="list-img" src="/images/new3.jpg" alt=""/>
                    </div>
                    <div class="list-title">
                        <div class="list-title-t">热点新闻的标题热点新闻的标题热点新的标题热点新闻的标题热点新闻的标题热点新的标题</div>
                        <p class="list-title-p">这是文章内容的摘要，限定两行，超出隐藏。热点新闻的标题热点新闻的标题热点新的标题。这是文章内容的摘要，限定两行，超出隐藏。这是文章内容的摘要</p>
                        <div class="see new-see-list">
                            <img src="/images/icon_view.png" alt=""/>
                            <span class="see-tu">111,222 &nbsp;2018年1月21号</span>
                        </div>
                    </div>
                </div></a>
                <a href="news.html">
                    <div class="new-list">
                    <div class="fl">
                        <img class="list-img" src="/images/new3.jpg" alt=""/>
                    </div>
                    <div class="list-title">
                        <div class="list-title-t">热点新闻的标题热点新闻的标题热点新的标题热点新闻的标题热点新闻的标题热点新的标题</div>
                        <p class="list-title-p">这是文章内容的摘要，限定两行，超出隐藏。热点新闻的标题热点新闻的标题热点新的标题。这是文章内容的摘要，限定两行，超出隐藏。这是文章内容的摘要</p>
                        <div class="see new-see-list">
                            <img src="/images/icon_view.png" alt="">
                            <span class="see-tu">111,222 &nbsp;2018年1月21号</span>
                        </div>
                    </div>
                </div></a>
                <a href="news.html">
                    <div class="new-list">
                        <div class="fl">
                            <img class="list-img" src="/images/new3.jpg" alt=""/>
                        </div>
                        <div class="list-title">
                            <div class="list-title-t">热点新闻的标题热点新闻的标题热点新的标题热点新闻的标题热点新闻的标题热点新的标题</div>
                            <p class="list-title-p">这是文章内容的摘要，限定两行，超出隐藏。热点新闻的标题热点新闻的标题热点新的标题。这是文章内容的摘要，限定两行，超出隐藏。这是文章内容的摘要</p>
                            <div class="see new-see-list">
                                <img src="/images/icon_view.png" alt=""/>
                                <span class="see-tu">111,222 &nbsp;2018年1月21号</span>
                            </div>
                        </div>
                    </div></a>
                <a href="news.html">
                    <div class="new-list">
                        <div class="fl">
                            <img class="list-img" src="/images/new3.jpg" alt=""/>
                        </div>
                        <div class="list-title">
                            <div class="list-title-t">热点新闻的标题热点新闻的标题热点新的标题热点新闻的标题热点新闻的标题热点新的标题</div>
                            <p class="list-title-p">这是文章内容的摘要，限定两行，超出隐藏。热点新闻的标题热点新闻的标题热点新的标题。这是文章内容的摘要，限定两行，超出隐藏。这是文章内容的摘要</p>
                            <div class="see new-see-list">
                                <img src="/images/icon_view.png" alt=""/>
                                <span class="see-tu">111,222 &nbsp;2018年1月21号</span>
                            </div>
                        </div>
                    </div></a>
                <a href="news.html">
                    <div class="new-list">
                        <div class="fl">
                            <img class="list-img" src="/images/new3.jpg" alt="">
                        </div>
                        <div class="list-title">
                            <div class="list-title-t">热点新闻的标题热点新闻的标题热点新的标题热点新闻的标题热点新闻的标题热点新的标题</div>
                            <p class="list-title-p">这是文章内容的摘要，限定两行，超出隐藏。热点新闻的标题热点新闻的标题热点新的标题。这是文章内容的摘要，限定两行，超出隐藏。这是文章内容的摘要</p>
                            <div class="see new-see-list">
                                <img src="/images/icon_view.png" alt="">
                                <span class="see-tu">111,222 &nbsp;2018年1月21号</span>
                            </div>
                        </div>
                    </div></a>
                <a href="news.html">
                    <div class="new-list">
                        <div class="fl">
                            <img class="list-img" src="/images/new3.jpg" alt="">
                        </div>
                        <div class="list-title">
                            <div class="list-title-t">热点新闻的标题热点新闻的标题热点新的标题热点新闻的标题热点新闻的标题热点新的标题</div>
                            <p class="list-title-p">这是文章内容的摘要，限定两行，超出隐藏。热点新闻的标题热点新闻的标题热点新的标题。这是文章内容的摘要，限定两行，超出隐藏。这是文章内容的摘要</p>
                            <div class="see new-see-list">
                                <img src="/images/icon_view.png" alt="">
                                <span class="see-tu">111,222 &nbsp;2018年1月21号</span>
                            </div>
                        </div>
                    </div></a>
                <a href="news.html">
                    <div class="new-list">
                        <div class="fl">
                            <img class="list-img" src="/images/new3.jpg" alt="">
                        </div>
                        <div class="list-title">
                            <div class="list-title-t">热点新闻的标题热点新闻的标题热点新的标题热点新闻的标题热点新闻的标题热点新的标题</div>
                            <p class="list-title-p">这是文章内容的摘要，限定两行，超出隐藏。热点新闻的标题热点新闻的标题热点新的标题。这是文章内容的摘要，限定两行，超出隐藏。这是文章内容的摘要</p>
                            <div class="see new-see-list">
                                <img src="/images/icon_view.png" alt="">
                                <span class="see-tu">111,222 &nbsp;2018年1月21号</span>
                            </div>
                        </div>
                    </div></a>
                <a href="news.html">
                    <div class="new-list">
                        <div class="fl">
                            <img class="list-img" src="/images/new3.jpg" alt="">
                        </div>
                        <div class="list-title">
                            <div class="list-title-t">热点新闻的标题热点新闻的标题热点新的标题热点新闻的标题热点新闻的标题热点新的标题</div>
                            <p class="list-title-p">这是文章内容的摘要，限定两行，超出隐藏。热点新闻的标题热点新闻的标题热点新的标题。这是文章内容的摘要，限定两行，超出隐藏。这是文章内容的摘要</p>
                            <div class="see new-see-list">
                                <img src="/images/icon_view.png" alt="">
                                <span class="see-tu">111,222 &nbsp;2018年1月21号</span>
                            </div>
                        </div>
                    </div></a>
                <a href="news.html">
                    <div class="new-list">
                        <div class="fl">
                            <img class="list-img" src="/images/new3.jpg" alt="">
                        </div>
                        <div class="list-title">
                            <div class="list-title-t">热点新闻的标题热点新闻的标题热点新的标题热点新闻的标题热点新闻的标题热点新的标题</div>
                            <p class="list-title-p">这是文章内容的摘要，限定两行，超出隐藏。热点新闻的标题热点新闻的标题热点新的标题。这是文章内容的摘要，限定两行，超出隐藏。这是文章内容的摘要</p>
                            <div class="see new-see-list">
                                <img src="/images/icon_view.png" alt="">
                                <span class="see-tu">111,222 &nbsp;2018年1月21号</span>
                            </div>
                        </div>
                    </div></a>
                <a href="news.html">
                    <div class="new-list">
                        <div class="fl">
                            <img class="list-img" src="/images/new3.jpg" alt="">
                        </div>
                        <div class="list-title">
                            <div class="list-title-t">热点新闻的标题热点新闻的标题热点新的标题热点新闻的标题热点新闻的标题热点新的标题</div>
                            <p class="list-title-p">这是文章内容的摘要，限定两行，超出隐藏。热点新闻的标题热点新闻的标题热点新的标题。这是文章内容的摘要，限定两行，超出隐藏。这是文章内容的摘要</p>
                            <div class="see new-see-list">
                                <img src="/images/icon_view.png" alt="">
                                <span class="see-tu">111,222 &nbsp;2018年1月21号</span>
                            </div>
                        </div>
                    </div></a>
            </div>
            <form id="form1" runat="server">
                <div>
                </div>
                <div>
                    <ul class="pagination" id="pagination">
                    </ul>
                    <input type="hidden" id="PageCount" runat="server" />
                    <input type="hidden" id="PageSize" runat="server" value="8" />
                    <input type="hidden" id="countindex" runat="server" value="10"/>
                    <!--设置最多显示的页码数 可以手动设置 默认为7-->
                    <input type="hidden" id="visiblePages" runat="server" value="7" />
                </div>
            </form>
        </div>
        <div class="right fl">
            <div class="exampleN">
                <div class="hot-titile">
                    <img src="/images/icon_mark.png" alt="">
                    <span>热点资讯</span>
                </div>
                <div class="times">
                    <ul id="hot_news_ul">
                        <li><a href="hot.html" style="text-decoration: none"><b></b><p>热点新闻的标题热点新闻的标题热点新闻
                            的标题热点新闻的标题</p></a></li>
                        <!--b标签不输入内容，span标签内输入时间不限制格式，p标签内输入介绍内容。注意，标签内不能使用div分割-->
                        <li><a href="hot.html" style="text-decoration: none"><b></b><p>热点新闻的标题热点新闻的标题热点新闻
                            的标题热点新闻的标题</p></a></li>
                        <li><a href="hot.html" style="text-decoration: none"><b></b><p>热点新闻的标题热点新闻的标题热点新闻
                            的标题热点新闻的标题</p></a></li>
                        <li><a href="hot.html" style="text-decoration: none"><b></b><p>热点新闻的标题热点新闻的标题热点新闻
                            的标题热点新闻的标题</p></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 016-2018 168咨询网</p>
    </footer>
</div>
</body>
</html>