<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:tiles="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head lang="en">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<!-- <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/> -->
    <title>产品理财</title>
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/luara.left.css">
    <script id="jquery_182" type="text/javascript" class="library" src="/js/jquery-1.8.2.min.js"></script>
    <script id="jquery_183" type="text/javascript" class="library" src="/js/jquery.luara.0.0.1.min.js"></script>
    <script type="text/javascript" src="/js/test.js"></script>
</head>
<body>
<div class="main">
    <!--头-->
    <div class="header">
        <div class="header-main">
            <div class="logo fl">
                <a href="index.html">
                    <img src="/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="header-right fr">
                <ul>
                      <li><a href="/web/index">首页</a>
                     <li><a href="/safe/zqyw/list" >证券要闻</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/safe/agfx/list" >A股分析</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/safe/hgcl/list">黑马池</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/safe/cplc/list" class="active">产品理财</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    <li><a href="/login">登录系统</a><img src="/images/icon_mark_menu.png" alt=""/></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="header-main main-new">
        <div class="left fl">
            <div class="hot-titile new-left">
                <img src="/images/icon_mark.png" alt="">
                <span>赢+资讯 > 产品理财</span>
            </div>
            <div class="pros-lists">
                <a href="probasin.html">
                    <div class="pros-list">
                        <img src="/images/new3.jpg" alt="">
                        <div>聚宝盆</div>
                        <p>聚金宝”以多样交易品种、先进系统、优质服务、开启贵金属投资新纪元。</p>
                    </div>
                </a>
                <a href="probasin.html">
                    <div class="pros-list pros-ji">
                        <img src="/images/new3.jpg" alt="">
                        <div>基金智能定投</div>
                        <p>您可以自由选择基金定投的扣款周期、扣款金额、根据扣款期数、金额等。</p>
                    </div>
                </a>
                <a href="probasin.html">
                    <div class="pros-list">
                        <img src="/images/new3.jpg" alt="">
                        <div>聚宝盆</div>
                        <p>聚金宝”以多样交易品种、先进系统、优质服务、开启贵金属投资新纪元。</p>
                    </div>
                </a>
                <a href="probasin.html">
                    <div class="pros-list">
                        <img src="/images/new3.jpg" alt="">
                        <div>证券第三方存管</div>
                        <p>网银、电话预指定确认及网银预约开户轻松快捷，银证转账实时安全。</p>
                    </div>
                </a>
                <a href="probasin.html">
                    <div class="pros-list pros-ji">
                        <img src="/images/new3.jpg" alt="">
                        <div>金橙财富</div>
                        <p>“金橙财富”投资型产品面向个人客户，公司客户和同业客户，帮您打理资金，获取优质服务。</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="right fl">
            <div class="exampleN">
                <div class="hot-titile">
                    <img src="/images/icon_mark.png" alt="">
                    <span>热点资讯</span>
                </div>
                <div class="times">
                    <ul>
                        <li><a href="probasin.html" style="text-decoration: none"><b></b>
                            <p>热点新闻的标题热点新闻的标题热点新闻
                                的标题热点新闻的标题</p></a></li>
                        <!--b标签不输入内容，span标签内输入时间不限制格式，p标签内输入介绍内容。注意，标签内不能使用div分割-->
                        <li><a href="probasin.html" style="text-decoration: none"><b></b>
                            <p>热点新闻的标题热点新闻的标题热点新闻
                                的标题热点新闻的标题</p></a></li>
                        <li><a href="probasin.html" style="text-decoration: none"><b></b>
                            <p>热点新闻的标题热点新闻的标题热点新闻
                                的标题热点新闻的标题</p></a></li>
                        <li><a href="probasin.html" style="text-decoration: none"><b></b>
                            <p>热点新闻的标题热点新闻的标题热点新闻
                                的标题热点新闻的标题</p></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2016-2018 赢+资讯</p>
    </footer>
</div>
</body>
</html>